extends layout

block content
  .container
    #dropRegion
      .text 
        h1 Drop your video and its subtitle here
    #video
      ul.fa-ul
        li
          i.fa.fa-check Video is ok
    #subtitle
      ul.fa-ul
        li
          i.fa.fa-check Subtitle is ok
           
    
